/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  }

@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  }
  
/* 구기 */
@font-face {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Gugi&display=swap') format('woff');
  }

/* 둘기마요 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  /* 기본 폰트 */
  h1 {
    font-family: 'Pretendard-Regular', sans-serif;
    font-weight: 700;
    font-size:30px;
  }
  
  p {
    font-family: 'Pretendard-Regular', sans-serif;
    font-weight: 400;
    font-size:18px;
  }
  
  a {
    font-family: 'Pretendard-Regular', sans-serif;
    font-weight: 400;
    font-size:16px;
  }

   /* form 공통 */
   form.index_form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:30px 10px;
  }
  .index_form input {
    border-radius: 5px;
    border:1px solid black;
    height:40px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .index_form select {
    width:100%;
    border-radius: 5px;
    border:1px solid black;
    height:40px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  form span {
    width:60px;
    display:inline-block;
    text-align:center;
    line-height:34px;
    font-size:30px;
  }

  .id {
    width:100%;
  }
  
  .name{
    width:100%;
  
  }
  form.index_form>div.number{
    display:flex;
    justify-content: space-between;
    width:100%;
  }
  
  .telbox1 {
    width:100%;
  }
  
  .telbox2 {
    width:100%;
  }
  
  .telbox3 {
    width:100%;
  }
  
  .email{
    width:100%;
  
  }
  
  .text_memo{
    width:100%;
  }
  
  .memo {
    height:150px;
    border-radius: 5px;
    border:1px solid black;
    padding: 10px;
    box-sizing: border-box;
  }


  /* 버튼공통 */

  .btn_index {
    width: 100px;
    padding: 10px 0px;
    border-radius: 50px;
    border:1px solid black;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    color: #061f5c;
    background: #fff;
    cursor: pointer;
  }

  .btn_index:hover{
    background-color: #061f5c;
    color: #fff;
  }

  @media (min-width:1280px) {
    input, textarea {
      font-size:16px;
    }

    select {
      font-size:16px;
    }
    
  }

