
/* 고객센터 스타일시트 */
    /* 본문영역 */
    @media (min-width: 360px) {
      *{margin: 0; padding:0;
        box-sizing: border-box;}

        /* 공통 */
        h1{
          font-size: 1.5rem;
        }

        .section{
            width: 100%;
            margin-top: 90px;
        }

        /* 검색 부분 */
        .search{
          padding:10px;
          
        }
        .search>h1{
            margin-left: 10px;
            margin-bottom: 10px;
            
        }

        .search_box {
          width: 100%;
          height: 130px;
          box-sizing: border-box;
          padding: 10px;
          background-color: #F5F5F5;
          border: 1px solid black;
          margin-bottom: 20px;
           
           }
        
        

        input[type=text] {
            width: 390px;
            box-sizing: border-box;
            border: 1px solid #12ad00;
            border-radius: 4px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 10px;
            margin: 10px 20px;
        }

        .search_box>button {
            width: 390px;
            background-color: #00CC66;
            border: 1px solid black;
            padding:10px;
            margin: 10px 20px;
            border-radius:4px ;
        }
        .search_box>button>a{
            color: white;
            font-weight: bold;
        }

         /* 질문, 공지사항, 고객센터 정보 */
         /* 질문 부분 */
        
         
         .quest>h1{
          margin-bottom: 10px;
          margin-left: 10px;
         }
         .collapsible {
          background-color: white;
          color:black;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }
        
        .active, .collapsible:hover {
          background-color:lightskyblue;
          
        }
        
        .content {
          padding: 20px 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
        }
        
        p.qu{
          display: inline-block;
          color: #0FC2C0;
          margin-right: 5px;
          
        }
        p.te{
         display: inline-block;
        
        }
    /* 공지사항 영역 */
        .news{
            width:400px ;
            margin: 20px 10px;
            line-height: 30px;

      }
      .news>p{
        font-size: 1rem;
      }
      .news li>a{
        font-size: 0.9rem;
      }
      .news>button.plus{
        width: 100px;
        padding: 5px 0px;
        border-radius: 50px;
        border: 1px solid black;
        display: inline-block;
        text-align: center;
        background-color: #000066 ;
        box-sizing: border-box;
        margin-top: 10px;
        
      }
      button.plus>a{
        color: white;
        font-weight: bold;
      }
      /* 고객센터 정보 */
      .faq_info{
        width: 400ox;
        margin: 30px 10px;
        line-height: 30px;
      }

      .faq_info>p{
        font-size: 20px;
        font-weight: bold;
        color: #0FC2C0;

      }

      .faq_info li{
        font-size: 0.8rem;
      }

    }

    
