/* footer 스타일 */
#footer{
    width: 100%;
    background-color: #000066;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
/* 약관 영역 스타일 */
div.term{
    margin-bottom: 20px;
    white-space: nowrap; /* width 줄여도 줄바꿈 안되게*/
}
div.term li{
    display: inline-block;
    padding: 0 5px;
}
div.term li>a{
    color: #fff;
    font-size: 0.8rem;
}
div.term li>a:hover{
    color: #66B2FF;
}
/* 주소 영역 스타일 */
div.addr{
    font-size: 0.5rem;
}
/* ==================================PC ver.(min-width: 1024px)================================== */
@media (min-width: 1024px) {
    #footer{
        position: relative;
        height: 165px;
    }
    .term{
        position: absolute;
        left: 30px;
        top: 30px;
    }
    .term a{
        font-size: 0.9rem;
    }
    .addr{
        position: absolute;
        left: 30px;
        top: 80px;
        margin-bottom: 40px;
    }
    .addr>p{
        text-align: left;
        font-size: 0.7rem;
    }
    }