/* footer 스타일 */
#footer{
    width: 100%;
    background-color: #000066;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
/* 약관 영역 스타일 */
div.term{
    margin-bottom: 40px;
    white-space: nowrap; /* width 줄여도 줄바꿈 안되게*/
}
div.term li{
    display: inline-block;
    padding: 0 5px;
    font-size: 0.8rem;
}
div.term li>a{
    color: #fff;
}
div.term li>a:hover{
    color: #66B2FF;
}
/* 주소 영역 스타일 */
div.addr{
    font-size: 0.5rem;
}