/* 둘기마요 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html.open {
    overflow: hidden;
}

#header {
    width: 100%;
    height: 70px;
    z-index: 900;
    position: fixed;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
    min-width: 360px;
}


.head {
    width: 100%;
    height: 70px;
    position: relative;
}
.logo_wrap {
    width:150px;
}

.logo_wrap a {
    display: flex;
    color: black;
}

.logo_img>img {
    width: 70px;
    height: 70px;
    padding-right: 5px;
    float: left;
    box-sizing: border-box;
}

.logo {
    line-height: 70px;
    font-size: 2.6rem;
    font-family: 'Gugi';
    box-sizing: border-box;
}

.body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 70px;
    cursor: pointer;
    z-index: 300;
}

.burgur {
    right: 15px;
    top: 30px;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #000000;
}

.burgur .top-line {
    width: 30px;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s;

}

.burgur .bot-line {
    width: 30px;
    height: 2px;
    background-color: #000000;
    top: -5px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.burgur.on {
    width: 0;
}

.burgur.on .bot-line {
    -webkit-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}

.slide {
    width: 40%;
    height: 1000%;
    position: absolute;
    left: -100%;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    background-color: #000066;
}

/* 모바일gnb 메뉴*/
.slide-title {
    width: 100%;
    /*     height: 70px; */
    font-size: 42px;
    /*     display: flex; */
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #000000;
    z-index: 300;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}

.slide-title-text {
    font-size: 0.8rem;
}

.slide-title strong {
    color: #fff;
}

#slide button {
    width: 70px;
    height: 35px;
    margin: 0 auto;
    background-color: #000066;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;
    font-size: 0.9rem;
    z-index: 300;
}

.slide a {
    text-decoration: none;
    color: #000000;
}

.slide.on {
    left: 0;
    z-index: 400;
}

.slide-menu {
    height: 1000px;
    background-color: #fff;
}

.slide-menu strong {
    display: inline-block;
}

.slide-menu strong:hover {
    cursor: pointer;
}

.menu-name-txt {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #000066;
    padding-bottom: 20px;
}

.menu-name-txt strong {
    padding-left:20px;
}

.menu-name-txt span {
    padding-right:20px;
}

.menu-name>li {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid#A3A2A2;
}

.menu-name>li>a {
    text-decoration: none;
    color: #000000;
}

.menu-name ol>a {
    display:inline-block;
    width:100%;
    padding: 15px 30px;
    box-sizing: border-box;
    /*     display: block;
    margin-bottom: 5px;
    위에 두개를 쓰면 하위메뉴 줄높이 조정은 가능하나, 아코디언 애니메이션이 부자연스러워져서 주석 처리함 ==희수 */
}

.dimmed {
    display: block;
    z-index: 100;
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.pc-menu {
    display: none;
}









/* ==================================PC ver.(min-width: 1024px)================================== */
@media (min-width: 1024px) {

    #slide,
    .slide-open,
    .dimmed {
        display: none;
    }

    /* PC header시작 */
    #header {
        transition: all 0.5s;
        overflow: hidden;
        background: #fff;
        height: 120px;
        position: fixed;
        border-bottom: 1px solid #dfdfdf;
        
    }

    /* 마우스 올렸을때 400만큼 늘어남 */
    #header.on {
        height: 400px;
    }

    /* PC버전 로고위치 변경 */
    .logo_wrap {
        padding-top: 20px;
        z-index: 1000;
        width:200px;
    }

    .head {
        display: flex;
        align-items: center;
    }

    .logo_img>img {
        width: 90px;
        height: 90px;
        margin-right: 5px;
        float: left;
        margin-top: 20px;
    }

    .logo {
        line-height: 90px;
        font-size: 2.6rem;
        padding-top: 5px;
        font-family: 'Gugi';
        margin-top: 20px;
    }

    .pc-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        
    }

    .pc-menu li a {
        font-family: 'Dovemayo_gothic';
    }

    .pc-top-nav {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }


    .pc-top-nav li {
        display: inline-block;
        padding: 0px 20px;
        font-size: 12px;
    }



    .pc-main-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
    }

    .pc-main-menu ul {
        display: flex;
    }

    .pc-main-menu li {
        display: flex;
        flex-direction: column;
        padding: 0px 40px;
        font-weight: 600;
        font-size: 26px;

    }

    .pc-main-menu li a {
        text-align: center;
        display: inline-block;
        padding: 20px;
        color:#000000;
    }



    .pc-main-menu .depth02 {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .pc-main-menu .depth02 li {
        padding: 10px;
        font-weight: 400;
        color: #000066;
        font-size: 18px;
    }

    .pc-main-menu .depth02 li a:hover {
        color: lightskyblue;
    }





}