    /* header */

    /* header 전체 */
    .header{
        width: 100%;
        height: 90px;
        z-index:9999;
        position: fixed;
        top:0;
        background: #fff;
    }

    /* 오구 로고 부분 */
    .logo img{
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }

    /* 로고 옆 오구 텍스트 부분 */
    div.logo .logo_text{
        color: black;
        line-height: 90px;
        font-size: 3rem;
        font-family: 'Gugi';
    }

    /* 오른쪽 메뉴바(햄버거) 부분 */
    .menu_btn{
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        right:0;
        width:35px;
        padding: 30px;
        cursor:pointer;
    }

    .menu_btn span{
        display:block;
        width:100%;
        height:4px;
        background: black;
    }

    .menu_btn span:nth-child(2){
        margin:5px 0;
    }

    /* 햄버거 버튼 시작 == 희수 */
    #check_box {
        display: none;
      }
      
      #check_box + label {
        position: relative;
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
      }
      
      #check_box + label > span {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background: black;
        border-radius: 5px;
        transition: all 300ms;
      }
      
      #check_box:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(45deg);
      }

    #check_box {
        display: none;
      }
      
      #check_box + label {
        position: relative;
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        z-index: 2;
      }
      
      #check_box + label > span {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background: black;
        border-radius: 5px;
        transition: all 300ms;
      }
      
      #check_box:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(45deg);
      }
      
      #check_box + label > span:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }
      
      #check_box:checked + label > span:nth-child(2) {
        opacity: 0;
      }
      
      #check_box + label > span:nth-child(3) {
        bottom: 0;
      }
      
      #check_box:checked + label > span:nth-child(3) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(-45deg);
      }
      
      #side_menu {
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: tomato;
        left: -300px;
        transition: all 300ms;
        z-index: 1;
        top: 0px;
        padding: 60px 20px 20px 20px;
        box-sizing: border-box;
      }
      
      #check_box:checked + label + #side_menu {
        left: 0;
      }
        
    
