@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

/* 기본 폰트 */
h1 {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 700;
  font-size:30px;
}

p {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  font-size:19px;
}

a {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  font-size:16px;
}

/* 360이하로 안줄어들게 */
#wrap {
  min-width:360px;
}

/* 모바일 */

  /* 메인슬라이더 */
  #slider {
    margin-top:90px;
  }
  .swiper {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 본문 텍스트박스 공통 */
  .text_box {
    display:flex;
    flex-direction: column;
    gap:10px;
  }

  /* 교육안내 */
  #edu_info {
    padding: 170px 15px ;
    position: relative;
    z-index: 1;
  }

  /* 교육안내 배경 */
  #edu_info::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/consulting_01.jpg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
  }

  /* 교육안내 텍스트 */
  .edu_info_txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }


  .btn_index_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .btn_index {
    width: 100px;
    padding: 10px 0px;
    border-radius: 50px;
    border:1px solid black;
    display: inline-block;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    color: #061f5c;
  }

  /* 교육신청 */
  #edu_join {
    padding: 50px 15px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #edu_join::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/index/edu/consulting_02.jpg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
  }


  /* form 공통 */
  form.index_form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:30px 10px;
  }
  .index_form input {
    border-radius: 5px;
    border:1px solid black;
    height:40px;
  }
  .index_form select {
    width:100%;
    border-radius: 5px;
    border:1px solid black;
    height:40px;
  }

  form span {
    width:60px;
    display:inline-block;
    text-align:center;
    line-height:34px;
    font-size:30px;
  }
  
  .name{
    width:100%;
  
  }
  form.index_form>div.number{
    display:flex;
    justify-content: space-between;
    width:100%;
  }
  
  .telbox1 {
    width:100%;
  }
  
  .telbox2 {
    width:100%;
  }
  
  .telbox3 {
    width:100%;
  }
  
  
  .email{
    width:100%;
  
  }
  
  .text_memo{
    width:100%;
    
  }
  
  .memo {
    height:150px;
    border-radius: 5px;
    border:1px solid black;
  }

  #store_info {
           
    padding: 180px 15px;
    text-align: center;
    position: relative;
    z-index: 1;
    
 }
 #store_info::after {
  /* 가상요소 정하기 */
    width: 100%;
    height:100%;
    content: "";
    background:url(../images/index/store/store_01.jpeg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}


.btn{
  text-align: center;
  padding: 50px;
  
}
.btn>button{
  border-radius: 20px;
}

#store_apply{
  padding: 50px 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
}


#store_apply::after{
  width: 100%;
  height: 100%;
  content:"";
  background:url(../images/index/store/store_02.jpg) no-repeat top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
  
}

/* sns */
#sns{
  padding-top:20px;
  padding-bottom:60px;
 display: flex;
 flex-direction: column;
}

#sns>div.sns_content{
padding: 15px;
text-align: center;
}


#sns>div.sns_img>ul{
  display: flex;
  justify-content: space-evenly;
 
}
.sns_img img{
  width: 40px;
  height: 40px;
}

