@charset "UTF-8";


/* 360이하로 안줄어들게 */
#wrap {
  min-width:360px;
}

/* 헤더 */

.pc-top-nav li a {
  font-size:12px;
}

  
/* 모바일 */

  section h1 {
    font-size:24px;
  }

  section p {
    font-size: 12px;
  }

  /* 모바일메인배너 */
  #mobile_main_banner {
    position:relative;
    margin-top:70px;
  }

  .banner_inner {
    width:100%;
  }

  .banner_inner .txt_wrap {
    position:absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .banner_inner .txt_wrap h1 {
    text-align: center;
    white-space: nowrap;
  }

  .banner_inner .img_wrap img {
    width:100%;
  }

  .banner_inner .bottom_txt {
    margin-top:20px;
    color:#fff;
    text-decoration: underline;
  }

  /* 메인슬라이더 */
  #slider {
    margin-top:70px;
    display:none;
  }
  .swiper {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .slider_box {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
  }

  /* slider 텍스트 */

  .slider_txt {
    display:block;
    width:40%;
    text-align: left;
  }
  
  #slider .slider_txt h2 {
    position:absolute;
    top:20%;
    left:20%;
  }

  #slider .slider_txt h2:after {
    content:'';
    display:inline-block;
    position:absolute;
    width:10px;
    height:1px;
    top:25px;
    left:0;
    background-color: black;
  }

 .slider_txt h3 {
    position:absolute;
    top:20%;
    left:20%;
  }

  #slider .slider_txt p {
    position:absolute;
    top:30%;
    left:20%;
    font-size:20px;
    color:white;
  }


  /* 슬라이더 버튼 */
  .slider_txt .btn_index {
    position:absolute;
    top:70%;
    left:20%;
    width: 250px;
    padding: 10px 0px;
    border-radius: 50px;
    border:1px solid black;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    color: #061f5c;
  }

  /* 왼쪽버튼 */
  .swiper-button-next {
    padding-right:20px;
    background: url(../images/index/slider/arrow.png) no-repeat;
  }
  
  .swiper-button-prev {
    padding-left:20px;
    background: url(../images/index/slider/arrow.png) no-repeat;
   
    transform: scaleX(-1);   
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  #slider .swiper-pagination-bullet {
    background : black;
  }

  /* 본문 텍스트박스 공통 */
  .text_box {
    display:flex;
    flex-direction: column;
    gap:10px;
  }

  /* 교육안내 */
  #edu_info {
    padding: 60px 15px ;
    position: relative;
    z-index: 1;
  }

  /* 교육안내 배경 */
  #edu_info::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/index/edu/consulting_01.jpg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
  }

  /* 교육안내 텍스트 */
  .edu_info_txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .btn_index_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }


  div[class^="edu_icon"] {
      margin-bottom:10px;
    }

  .btn_index_wrap div[class^="btn_index"] {
    background-color: none;
  }

  .edu_icon1 {
    width:128px;
    height:128px;
    background-image: url("../images/index/edu/edu_img1.png");
    background-size: 128px;
  }

  .edu_icon2 {
    width:128px;
    height:128px;
    background-image: url("../images/index/edu/edu_img2.png");
    background-size: 128px;
  }

  .edu_icon3 {
    width:128px;
    height:128px;
    background-image: url("../images/index/edu/edu_img3.png");
    background-size: 128px;
  }

  /* 교육신청 */
  #edu_join {
    padding: 60px 15px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #edu_join::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/index/edu/consulting_02.jpg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
  }



  #store_info {
           
    padding: 180px 15px;
    text-align: center;
    position: relative;
    z-index: 1;
    
 }
 #store_info::after {
  /* 가상요소 정하기 */
    width: 100%;
    height:100%;
    content: "";
    background:url(../images/index/store/store_01.jpeg) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}


.btn{
  text-align: center;
  padding: 50px;
  
}
.btn>button{
  border-radius: 20px;
}

#store_apply{
  padding: 50px 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
}


#store_apply::after{
  width: 100%;
  height: 100%;
  content:"";
  background:url(../images/index/store/store_02.jpg) no-repeat top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
  
}

/* sns */
#sns{
  padding-top:20px;
  padding-bottom:60px;
 display: flex;
 flex-direction: column;
}

#sns>div.sns_content{
padding: 15px;
text-align: center;
}


#sns>div.sns_img>ul{
  display: flex;
  justify-content: space-evenly;
 
}
.sns_img img{
  width: 40px;
  height: 40px;
}

#sns p {
  font-size:16px;
}

/* footer */
#footer p {
  font-size:10px;
}



















/* 타블렛 */
@media (min-width:768px) {

    /* 섹션폰트 크기 */
    section h1 {
      font-size: 28px;
    }
  
    section p {
      font-size:14px;
    }
  

  .swiper {
    height:500px;
  }

  /* 교육안내 배치변경 */
  .btn_index_wrap {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }

  #edu_join {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #store_apply {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

}





/* PC버전 */
@media  (min-width:1024px) {

  #mobile_main_banner {
    display:none;
  }

  #slider {
    display:block;
  }

  /* 교육안내섹션 */
  #edu_info {
    padding: 120px 15px;
  }

  /* 섹션폰트 크기 */
  section h1 {
    font-size: 32px;
  }

  section p {
    font-size:18px;
  }

  /* sns PC버전 */
  #sns {
    padding-top:40px;
    padding-bottom:100px;
  }
  #sns p {
    font-size:26px;
  }
  #sns>div.sns_content {
    padding:30px;
  }

  .sns_img img {
    width:60px;
    height:60px;
  }



  #slider {
    margin-top:120px;
  }
  .swiper {
    height:600px;
  }

  #slider .slider_txt p {
    font-size:40px;
    color: black;
  }

  /* 푸터 글자크기 */
  .addr>p {
    text-align: left;
    font-size: 0.7rem;
}
} 
