/* Mobile Ver. */
/* 360이하로 안줄어들게 */
@media (min-width:360px) {
    #wrap{
        margin-top: 50px;
        min-width: 360px;
        padding: 75px 15px;
    }
    /* 프리텐다드 폰트 */
    @font-face{
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    /* section 메인 박스 */
.section{
    width: 90%;
    height: 76.92307%;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid gainsboro;
    background-color: beige;
}
.section_box{
    display: flex;
    flex-direction: column;
}
/* 오구 회원가입 부분 */
.join_title{
    font-weight: 600;
}
/* 오구 회원가입, 이미 계정이 있으신가요 부분 폰트 적용 */
.join_title, .already{
    font-family: 'Pretendard-Regular';
}
/* sns 간편 회원가입 부분 */
.sns_logo{
    display: inline-block;
}
.sns_logo img{
    width: 95%;
    height: 40px;
    margin: 10px 4.5px 0 6.5px;
}
/* 네이버 logo */
.sns_logo li:first-child{
    margin-top: 20px;
}
/* 카카오 logo */
.sns_logo li:last-child{
    margin-bottom: 20px;
}
/* 구분선 */
hr{
    width: 85%;
    border-top: 1px dashed gainsboro;
}
/* 하단 오구 계정 만들기 부분 */
.create{
    width: 95%;
    height: 40px;
    margin: 20px auto;
    border: 1px solid gainsboro;
    border-radius: 30px;
    background-color: darkblue;
    text-align: center;
    font-family: 'Pretendard-Regular'; /* 오구 계정 만들기 부분 프리텐다드 폰트로 변경 */
}
.create:hover{
    cursor: pointer;
    background-color:cornflowerblue;
}
.create_join{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 40px; /* 부모 요소와 같게 */
}
/* already, login도 flex 쓸것 */
.already{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 0.9rem;
}
.already>a{
    color: black;
}
a.login:hover{
    text-decoration: underline;
    cursor: pointer;
}

}

/* Tab ver. */
@media(min-width:768px){
    .section{
        width: 60%;
    }
}

/* PC ver. */
@media(min-width:1024px){
    .section{
        width: 30%;
        margin-top: 100px;
    }
}